@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
    color: #333;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #2c2c2c; /* Dark gray header */
    color: #fff;
    border-radius: 10px;
}

.city-section {
    margin-top: 40px;
}

h2 {
    border-bottom: 3px solid #555; /* Medium gray underline */
    padding-bottom: 10px;
    font-weight: 500;
}

.attraction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #ffffff;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s, transform 0.2s;  
}

.attraction:hover {
    transform: scale(1.03); 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.attraction img {
    max-width: 100%;
    border-radius: 10px;
    order: 2;
    flex: 1;
    margin-right: 20px;
    border: 3px solid #ddd;
    transition: transform 0.2s;  
}

.attraction img:hover {
    transform: scale(1.05);
}

.attraction-info {
    flex: 2;
    order: 1;
}

.attraction-info p {
    margin: 10px 0;
}

.attraction-info a {
    color: #007BFF;  /* Accent color for links */
    text-decoration: none;
    transition: color 0.2s;  
}

.attraction-info a:hover {
    color: #0056b3;  
}

/* Media query for mobile */
@media (max-width: 768px) {
    .attraction {
        flex-direction: column;
    }

    .attraction img {
        margin: 0;
        margin-bottom: 20px;
    }

    body {
        padding: 10px;
    }
}
