@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #141414;
    color: #ffffff;
    line-height: 1.6;
    transition: background 0.3s ease;
}

header {
    text-align: center;
    padding: 40px 0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

h1 {
    font-weight: 700;
    font-size: 2.8em;
    margin: 0;
    color: #ffffff;
}

h2 {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 60px;
    text-align: center;
    color: #ffffff;
}

.city-section {
    margin-top: 60px;
}

.attraction {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    max-width: 80%;  
    margin: 40px auto;
    justify-content: center;
    overflow: hidden;  /* Ensure that no content bleeds out of this container */
}

.attraction img {
    width: 100%;
    margin: 0 auto;  
    border-radius: 8px;
    display: block;
    transition: transform 0.3s, filter 0.3s;
}

.attraction:hover img {
    transform: scale(1.05);
    filter: blur(3px);
}

.attraction-info {
    position: absolute;
    bottom: 0;  /* Adjusted to stick to the bottom */
    left: 0;  /* Starting from the left edge */
    width: 100%;  /* Take the full width of .attraction */
    padding: 10px;  /* Some padding for the content */
    bottom: 5%;
    left: 5%;
    width: 90%;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.attraction:hover .attraction-info {
    opacity: 1;
    font-weight: 400;
}

.attraction-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #555555;
    margin: 0;
    transition: all 0.3s ease;
}

.attraction-info p,
.attraction-info a {
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #555555;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.attraction-info a {
    text-decoration: none;
}

.attraction-info a:hover {
    color: #bbbbbb;
}

@media (max-width: 768px) {
    .attraction-info {
        position: static;
        margin-top: 20px;
    }

    body {
        padding: 20px;
    }

    .attraction {
        flex-direction: column;
    }
}
